*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.background img{
    background-position: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
}

.card{
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 45rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0,0,0,0.3), 0px 0px 50px rgba(0,0,0,0.3);
    background-color: #f2f8fa;
}

.logo{
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 35rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.circle{
    width: 20rem;
    height: 20rem;
    background: linear-gradient(
        to right,
        rgba(186,142,113,0.75),
        rgba(129,193,227,0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.info h1{
    font-size: 4rem;
    transition: all 0.75s ease-out;
}

.info h3{
    font-size: 1.5rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}

.buttons{
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
}

.buttons button{
    padding: 0.5rem 3rem;
    font-size: 1.1rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #4d6d94;
}

button.active{
    background: #283d52;
    color: white;
}

.purchase{
    margin-top: 5rem;
    transition: all 0.75s ease-out;
}

.purchase button{
    width: 100%;
    padding: 1rem 0rem;
    font-size: 1.5rem;
    background: #3c404a;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
}